<h1>Einladung von <%= @company.title %> bei Tahed:o:</h1>
<p>
 Hallo <%= @user.email %>,<br>
</p>
<p>Du hast eine Einladung von <%= @company.title %>  erhalten. Nun Kannst du Sitzplätze reservieren, sehen wer heute im Office ist uvm.!</p><br>
<p>In deinem Account kannst du die EInladung bestätigen;</p>

<%= link_to 'hier klicken', 'http://Tahedo.com' %>

<h5>Tahedo.com</h5>