<h6 class="margin-bottom purple-text" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
  Neues Team erstellen
</h6>
<div class="padding collapse " id="collapseExample">
  <div>
    <div>
      <%= form_with url: api_v1_add_companies_path(@user), method: :post do |fff| %>
        <p>Bist du dir sicher? <%= fff.check_box :team_id %></p>
        <p><%= fff.text_field 'team-name', placeholder: 'Team-Name' %></p>
        <%= fff.submit 'Team erstellen', :class => 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>