<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-xl-12">
      <% if !@user_team_ids.present? %>
        <p class="red-text"><i class="fas fa-info-circle"></i> Du musst noch einem Team beitreten (Ein Supervisor muss dich einladen) oder erstelle selbst ein neues Team</p>
      <% end %>
    </div>
    <div class="col-sm-12 col-md-8 col-xl-6">
      <div class="card">
        <div class="card-body">
          <%= render 'edit_account' %>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-xl-4">

          <%= render 'join_team' %>
          <%= render 'new_team' %>

    </div>
  </div>
</div>
