<nav class="navbar navbar-expand-lg navbar-light bg-pink mb-5">
  <div class="logo">
    <%= link_to "Tahed:o:", root_path, class: "navbar-brand"%>
  </div>
  <div class="right">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item float-right">
          <% if user_signed_in? %>
            <span><%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %></span>
          <% else %>
            <%= link_to('Login', new_user_session_path, class: "nav-link") %>  
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>