<% if user_signed_in? %>
<nav id="Sidebar" class="bg-dark sidebar">
  <div class="sidebar-sticky">
    <div id="Close-btn" class="close-btn">X</div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <div class="nav-link">
          <span data-feather="check-circle"></span>
          <%= link_to "Desk Buchen", root_path %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <span data-feather="check-circle"></span>
          <%= link_to "Desks verwalten", deskcenter_path %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <span data-feather="check-circle"></span>
          <%= link_to('Benutzer', users_path,class: "")%>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="check-circle"></span>
          Buchungen
        </a>
      </li>
    </ul>
  </div>
</nav>
<%end %>
