<nav class="d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-3 text-muted">
      <span>Environments</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <div class="nav-link">
          <span data-feather="check-circle"></span>
          <%= link_to "Desk Buchen", root_path %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <span data-feather="check-circle"></span>
          <%= link_to "Desks verwalten", deskcenter_path %>
        </div>
      </li>
      <li class="nav-item">
        <div class="nav-link">
          <span data-feather="check-circle"></span>
          <%= link_to('Benutzer', users_path,class: "")%>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="check-circle"></span>
          Buchungen
        </a>
      </li>
    </ul>
  </div>
</nav>