<nav class="d-none d-md-block bg-dark sidebar">
  <div class="sidebar-sticky">

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-3 text-muted">
      <span>Environments</span>
      <a class="d-flex align-items-center text-muted" href="#">
      </a>
    </h6>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="x-circle"></span>
          Development 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="check-circle"></span>
          Development 2
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="check-circle"></span>
          Stage 1
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#">
          <span data-feather="check-circle"></span>
          Stage 2 <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="check-circle"></span>
          <Integration></Integration>
        </a>
      </li>
    </ul>
  </div>
</nav>