/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$green: #399aaa;
$blue: #0000FF;

// Bootstrap
.progress, .btn-info {
  height: 2.35rem !important;
  border-radius: 20px !important;
}
.thumbnail {
  height: 50px;
  border-radius: 50%;
  border: 1px solid $blue;
}
.btn-primary {
  background: $blue !important;
}

.nav-link {
  display: inline-block !important;
}
.seat {
  .form-control {
    max-width: 100px !important;
  }
}