/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
$pink: #fbefef;
$light-grey: #e9ecef;
$dark-pink: #eadfdf;
$green: #79AF9C;
$dark-green: #84bfaa;
$purple: #6c63ff;
$purple-light: #6c63ffe8;

.sidebar {
  top: 85px;
}
.navbar{
  .logo {
    a {
      font-size: 26px;
    }
  }
  .navbar-brand {
    padding: 1rem;
  }
  a {
    &:hover {
      background-color: transparent;
    }
  }
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

// Bootstrap
.progress, .btn-info {
  height: 2.35rem !important;
  border-radius: 20px !important;
}
.thumbnail {
  height: 50px;
  border-radius: 50%;
  float: right;
  clear: both;
}

.nav-link {
  display: inline-block !important;
  &:hover {
    background: none;
  }
}
.sidebar-sticky {
  .nav-link {
    a {
      color: #ccc;
      display: inline-block !important;
      &:hover {
        color: #ccc;
        background: none;
        text-decoration: none;
      }
    }
  }
}
.seat {
  .form-control {
    max-width: 100px !important;
  }
}
.delete {
  svg {
    color: red;
    font-size: 22px;
  }
}
.DateRangePickerChildren {
    input {
      font-size: 0.7rem !important;
    }
}
.card {
  margin-bottom: 30px;
  border-radius: 20px !important;
  border: 1px soild $light-grey !important;
  //box-shadow: 0px 0px 49px -9px rgba(251,239,239,1);
}

// Buttons
.outline-info{
  border-color: $green !important;
  &:visited {
    color: $green !important;
    &:hover {
      color: white !important;
      border-color: $green !important;
      background: $green !important;
    }
  }
}

.btn-primary {
  color: white !important;
  border-color: $purple !important;
  background: $purple !important;
  &:hover {
    color: white !important;
    border-color: $purple-light !important;
    background: $purple-light !important;
  }
  &:visited {
    color: white !important;
    &:hover {
      color: white !important;
      border-color: $purple-light !important;
      background: $purple-light !important;
    }
  }
}


.margin-bottom {
  margin-bottom: 30px;
}

.margin-top-zero {
  margin-top: 0;
}

.react-datepicker__input-container {
  input {
    width: 120px;
  }
}

// navar

.bg-pink {
  background: $pink;
}

.Toastify__toast-container--top-right {
  top: 4.5em !important;
}

.avatar-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

