/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$pink: #fbefef;
$light-pink: #fbefef17;
$light-grey: #e9ecef;
$dark-pink: #eadfdf;
$green: #79AF9C;
$dark-green: #84bfaa;
$purple: #6c63ff;
$purple-light: #6c63ffe8;

body {
  background-color: $light-pink !important;
}

.sidebar {
  top: 87px;
  width: 200px;
}

.navbar{
  position: fixed !important;
  top: 0;
  width: 100%;
  overflow: hidden !important;
  z-index: 1;
  .logo {
    a {
      font-size: 26px;
    }
  }
  .navbar-brand {
    padding: 1rem;
  }
  a {
    &:hover {
      background-color: transparent;
    }
  }
}
.right {
  position: absolute;
  right: 0px;
  width: 300px;
  padding: 10px;
}

// Bootstrap
.progress, .btn-info {
  height: 2.35rem !important;
  border-radius: 20px !important;
}
.thumbnail {
  height: 50px;
  border-radius: 50%;
  float: right;
  clear: both;
}

.nav-link {
  display: inline-block !important;
  &:hover {
    background: none;
  }
}
.sidebar-sticky {
  .nav-link {
    a {
      color: #ccc;
      display: inline-block !important;
      &:hover {
        color: #ccc;
        background: none;
        text-decoration: none;
      }
    }
  }
}
.seat {
  .form-control {
    max-width: 100px !important;
  }
}
.delete {
  svg {
    color: red;
    font-size: 22px;
  }
}
.DateRangePickerChildren {
    input {
      font-size: 0.7rem !important;
    }
}
.card {
  margin-bottom: 30px;
  border-radius: 20px !important;
  border: 1px soild $light-grey !important;
  //box-shadow: 0px 0px 49px -9px rgba(251,239,239,1);
}

// Buttons
.btn {
  border-radius: 20px!important;
}


.btn-primary {
  border-color: $purple !important;
  color: $purple !important;
  background-color: transparent !important;
  &:visited {
    color: $purple !important;
  }
  &:hover {
    color: white !important;
    border-color: $purple !important;
    background-color: $purple !important;
  }
}

.btn-danger {
  color: white !important;
  &:visited {
    color: white !important;
  }
}

.margin-bottom {
  margin-bottom: 30px;
}

.margin-top-zero {
  margin-top: 0;
}
.margin-xl {
  margin-top: 150px;
}

.margin-mid {
  margin-top: 5rem;
}

.react-datepicker__input-container {
  input {
    width: 120px;
  }
}

// navar

.bg-pink {
  background: $pink;
}

.Toastify__toast-container--top-right {
  top: 4.5em !important;
}

.avatar-bg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.emoji {
  font-size: 1.1rem;
}



////////// Toast

//.toast {
//  opacity: 1 !important;
//  border: 2px solid $pink !important;
//  border-radius: 1px;
//  box-shadow: 0 1px 10px 0 rgba(0,0,0,.1), 0 2px 15px 0 rgba(0,0,0,.05);
//}
.toast-title {
  font-weight: bold;
}
.toast-message {
  font-size: 1.1rem;
  display: block;
  position: fixed;
  z-index: 9999;
  color: rgba(0, 0, 0, 0.5) !important;
  word-wrap: break-word;
  span {
  // color: white !important;

  }
}

.toast-message a,
.toast-message label{
  color: white !important;
}
.toast-message a:hover {
  color: white !important;
  text-decoration: none;
}

.toast-top-left {
  top: 120px;
  left: 1000px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  left: 12px;
  bottom: 12px;
}

#toast-container  {
  position: fixed;
  z-index: 9999;
}

#toast-container > div {
  opacity: 1;
  position: fixed;
  z-index: 9999;
  top: 60px;
  height: 56px !important;
  margin: 0 0 6px;
  padding: 15px 15px 15px 30px;
  width: 250px;
  right: 20px;
  background-color: white;
  background-position: 15px center;
  background-repeat: no-repeat;
  box-shadow: 0 0 12px $pink !important;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border: 2px solid $pink;
  border-radius: 3px;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  -o-box-shadow: 0 0 12px $pink;
  color: #FFFFFF !important;
}

.toast {
  background-color: #030303;
}

.toast-success{
  background-color: #81BE9D;
}

.toast-error{
  background-color: #FC6E6D;
}

.toast-info{
  background-color: #4407F1;
}

.toast-warning{
  background-color: #FDB12A;
}
.toast-top-right {
  top: 12px;
  right: 12px;
}

#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  -o-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  filter: alpha(opacity=100);
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  cursor: pointer;
}

#toast-container > .toast-info {
  color: white !important;
  background-size: 10%;

}

#toast-container > .toast-error {
  color: white !important;
  background-size: 10%;

}

#toast-container > .toast-success {
  color: white !important;
  background-size: 10%;

}

#toast-container > .toast-warning {
  color: white !important;
  background-size: 10%;


}
