@import "variables";

#Chat {
  width: 9rem;
  position: fixed;
  right: 2rem;
  bottom: 0;
}
.admin-chat {
  width: 100%;
}
.chat, .admin-chat {

  .card {
    //border: 1px solid $light-grey !important;
    background-color: $card !important;
    //border: 1px solid $background !important;
  }
  .card-body {
    padding: 1rem;
  }
  h6 {
    margin-bottom: 0;
    svg {
      position: relative;
      font-size: 1.5rem !important;
      padding: 1px;
      margin-right: 1rem;
      bottom: 2px;
    }
  }
  .receiver-container {
    padding-left: 4rem;
    display: block;
    width: 100%;
  }
  .sender-container {
    padding-right: 4rem;
    display: inline-flex;
    width: 100%;
  }
  .receive-chat-message {
    display: inline-flex;
    float: right;
    clear: both;
    background: $purple;
    padding: 1rem;
    border-radius: 20px 20px 0 20px;
    color: white;
  }
  .sender-chat-message {
    display: block;
    float: left;
    clear: both;
    background: $light-grey;
    padding: 1rem;
    border-radius: 20px 20px 20px 0;
    color: black;
  }
  .chat-container {
    max-height: 350px;
    width: 100%;
    overflow: scroll;
    padding: 1rem 0;
  }
  select {
    margin-top: 1rem;
    border: none;
  }
  input {
    width: 75% !important;
    border: none;
    border-bottom: 1px solid $purple !important;
    margin-right: 5px;
    background-color: transparent;
    color: $text;
    &:focus {
      background-color: transparent;
      color: $text;
    }
    &:focus {
      box-shadow: none;
    }
  }
  button {
    border: none;
    &:hover {
      background-color: transparent !important;
    }
    svg {
      font-size: 1.2rem;
    }
    .btn-primary {
      padding: 0 !important;
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}