@import "variables";
$pink: #fbefef;
$black: #212529;
$purple: #6c63ff;
$purple-light: #6c63ffe8;
    

.jumbotron {
    background-color: white !important;
    height: 450px;
    overflow: hidden;
    border-radius: 0 !important;
    padding: 4rem 0 !important;
    margin-bottom: 0 !important;
    .jumbo-img {
        width: 45rem;
        position: relative;
        float: right;
        bottom: 13rem;
        right: -4rem;
        clear: both;
        img {
            width: 130%;
            height: auto;
        }
    }
}

.jumbo-white {
    .jumbotron {
        background: $purple-variant !important;
    }
}

.margin-top {
    margin-top: 3rem;
}