$timing: 200ms;
$timing-function: cubic-bezier(.4,0,.2,1);

$small: 576px;
$medium: 991px;
$large: 1200px;

$pink: #fbefef;
$light-pink: rgba(251, 239, 239, 0.03);
$light-grey: #ebebeb;
//$dark-grey: #23272b;
$dark-grey: #222d3a;
$dark-pink: #eadfdf;
$main: #f9f9f9;
$purple: #6a3ef5;
$red: #f66e6d;
$background: white;
$main-card: white;
$card: white;
$text: #222;
$shadow:5px 5px 10px #d3d3d3, -5px -5px 10px #fafafa;
$shadow-inset: inset 5px 5px 10px #d3d3d3, inset -5px -5px 10px #fafafa;